@model FeedMe.ViewModels.UserCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New Account</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="@Model.user.firstname" class="control-label">First Name:</label>
                <input asp-for="@Model.user.firstname" class="form-control" />
                <span asp-validation-for="@Model.user.firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.user.lastname" class="control-label">Last Name:</label>
                <input asp-for="@Model.user.lastname" class="form-control" />
                <span asp-validation-for="@Model.user.lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.user.email" class="control-label">Email:</label>
                <input asp-for="@Model.user.email" class="form-control" />
                <span asp-validation-for="@Model.user.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.user.password" class="control-label">Password:</label>
                <input asp-for="@Model.user.password" class="form-control" />
                <span asp-validation-for="@Model.user.password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.customerInfo.street_name" class="control-label">Street Name:</label>
                <input asp-for="@Model.customerInfo.street_name" class="form-control" />
                <span asp-validation-for="@Model.customerInfo.street_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.customerInfo.street_number" class="control-label">Street Number:</label>
                <input asp-for="@Model.customerInfo.street_number" class="form-control" />
                <span asp-validation-for="@Model.customerInfo.street_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.customerInfo.postal_code" class="control-label">Postal Code:</label>
                <input asp-for="@Model.customerInfo.postal_code" class="form-control" />
                <span asp-validation-for="@Model.customerInfo.postal_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.customerInfo.city" class="control-label">City:</label>
                <input asp-for="@Model.customerInfo.city" class="form-control" />
                <span asp-validation-for="@Model.customerInfo.city" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

