@model IEnumerable<FeedMe.ViewModels.UserCreateViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.user.user_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role.role_name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.customerInfo.street_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customerInfo.street_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customerInfo.postal_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customerInfo.city)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user.user_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role.role_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerInfo.street_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerInfo.street_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerInfo.postal_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerInfo.city)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
