@model IEnumerable<FeedMe.ViewModels.OrdersUsersStatus>

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_RestDashboard" />

<table class="table">
    <thead>
        <tr>
            <th>
                Order id
            </th>
            <th>
                Order name
            </th>
            <th>
                Price
            </th>
            <th>
                Status
            </th>
            <th>
                Name
            </th>
            <th>
                Addres
            </th>
            <th>
                City
            </th>
            <th>
                Postal code
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.order_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.item.price)  kr
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status.status_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user.firstname)
                    @Html.DisplayFor(modelItem => item.user.lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerInfo.street_name)
                    @Html.DisplayFor(modelItem => item.CustomerInfo.street_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerInfo.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerInfo.postal_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.item.datetime)
                </td>
                <td>
                    @Html.ActionLink("Accept", "AcceptOrder", new { id=item.order_id }) |
                    @Html.ActionLink("Deny", "deniedOrders", new { id=item.order_id }) 
                </td>
            </tr>
        }
    </tbody>
</table>
